/** Input style **/
.input-style {
    display: block;
    border-radius: 0.375rem;
    border-width: 1px;
    width: 100%;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    padding: 10px;
}

.has-buttons input[type=number].square-ui-input::-webkit-inner-spin-button,
.has-buttons input[type=number].square-ui-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.has-buttons input[type=number].square-ui-input {
    padding: 0 50px;
    text-align: center;
}

.has-buttons input[type=number].square-ui-input:focus{
    border-color: #22B9C3;
}

@media (min-width: 640px) {
    .input-style {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}


/** File upload **/
.file_upload{cursor: pointer;}
.file_upload input::file-selector-button {float:right;margin-top: -5px;background: #e1e1e1;border: 1px solid #ccc; padding: .25rem .5rem; cursor: pointer; transition: all .25s ease-in-out;}
.file_upload input:hover::file-selector-button {background: #ccc;}
